
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Education</title>
</head>
<body>
    <nav>
        <a href="/cv/info">Home</a> -
        <a href="/cv/education">Education</a> -
        <a href="/cv/project">Projects</a>
    </nav>

    <div>
        BSc. in Computer Science & Engineering
        American International University - Bangladesh
        2019-2023 | GPA: 3.83 out of 4
        <br/>
        Higher Secondary Certificate (HSC)
        Dhaka Imperial College
        2017-2019 | GPA: 4.50 out of 5
        <br/>
        Secondary School Certificate
        National Ideal School
        2017 | GPA: 4.97 out of 5
    </div>
</body>
</html>
