
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <nav>
        <a href="/cv/info">Home</a> - 
        <a href="/cv/education">Education</a> - 
        <a href="/cv/project">Projects</a>
    </nav>
    <div> 
       <h1>ASIF KAMAL TIAS</h1>
       ADDRESS: <address>Dhaka, Bangladesh</address>
       EMAIL: <a href="mailto:asifkamaltias@gmail.com">asifkamaltias@gmail.com</a>
    </div>
</body>
</html>
