
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
    <nav>
        <a href="/cv/info">Home</a> -
        <a href="/cv/education">Education</a> -
        <a href="/cv/project">Projects</a>
    </nav>
    <div>
       <ul>
           <li><a href="https://github.com/AsifKamalTias/BankManagementSystem" target="_blank">Bank Management System Using Java</a></li>
           <li><a href="https://github.com/AsifKamalTias/Airline-Reservation-System" target="_blank">Airline Reservation System Using C#</a></li>
           <li><a href="https://github.com/AsifKamalTias/TicTacToe-AndroidApp" target="_blank">Tic Tac Toe Android App Using Java</a></li>
           <li><a href="https://github.com/AsifKamalTias/robo-friends" target="_blank">Robo Friends Using React JS</a></li>
           <li><a href="https://github.com/AsifKamalTias/one-service" target="_blank">Home Service Provider Using PHP</a></li>
           <li><a href="https://github.com/AsifKamalTias/FastExpress" target="_blank">Online Parcel Sending System Using Laravel</a></li>
       </ul>
    </div>
</body>
</html>
